body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
    text-align: center;
}

.navbar {
    background-color: #ffffff;
    padding: 1em;
    color: rgb(0, 0, 0);
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000 !important; 
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
}

.nav-brand .logo {
  width: 50px;
  height: 50px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  font-weight: 750;
}

.nav-menu a:hover {
  color: #2563eb;
}

/* Estado ACTIVO / página actual */
.nav-menu .active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  font-weight: bold;

}
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav-brand .logo {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .nav-brand {
        font-size: 1.4rem;
    }

    .nav-menu a {
        font-size: 0.9rem;
    }
}



/*************************** Hero *********************/
.hero {
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: #ffffff;
  padding: 50px 20px; 
  text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: 750;
}

.highlight {
  color: #e6d200;   /* Cambie este color si quiere */
  font-weight: 800;
}


.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Contenedor de botones */
.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Botón principal */
.btn-primary-hero {
  background-color: #e6d200;
  color: #0431c8;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
  font-weight: 600;
}

.btn-primary-hero:hover {
  background-color: #fff157;
}

/* Botón secundario */
.btn-secondary-hero {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
  font-weight: 600;
}

.btn-secondary-hero:hover {
  background-color: #ffffff;
  color: #0431c8;
}
/* ==============================
   HERO SECTION
============================== */
.hero {
    background: linear-gradient(to right, #2563eb, #1e40af);
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: 750;
}

.highlight {
    color: #e6d200;
    font-weight: 800;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* ==============================
   BOTONES
============================== */
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Botón principal */
.btn-primary-hero {
    background-color: #e6d200;
    color: #0431c8;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
    font-weight: 600;
}

.btn-primary-hero:hover {
    background-color: #fff157;
}

/* Botón secundario */
.btn-secondary-hero {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
    font-weight: 600;
}

.btn-secondary-hero:hover {
    background-color: #ffffff;
    color: #0431c8;
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.6rem;
    }

    .hero p {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
    }

    .hero-buttons a {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 15px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .btn-primary-hero,
    .btn-secondary-hero {
        font-size: 1rem;
        padding: 10px 22px;
    }
}



/********************  beneficios ********************/
.credits-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000 !important; 
    position: relative;
    display: inline-block;
    margin: 100px 0 20px 0;
}

.credits-title::after {
    content: "";
    width: 80px;         
    height: 4px;
    background: #fff157;
    display: block;
    margin: 8px auto 0;    /* centro */
}

/* Contenedor horizontal */
.beneficios {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 60px 20px;
  background: #fff;
}

/* Tarjetas */
.beneficio-card {
  flex: 1;                     
  max-width: 25%;               
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 18px;
  padding: 40px 25px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

/* Hover */
.beneficio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.1);
}

.icono {
    font-size: 70px;
    color: #0051ff;
    margin-bottom: 10px;
}

/* Títulos */
.beneficio-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0d1b3f;
  margin-bottom: 10px;
}

/* Texto */
.beneficio-card p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 260px;
  margin: 0 auto;
}


.credits-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000 !important; 
    position: relative;
    display: inline-block;
    margin: 80px 0 20px 0;
}

.credits-p{
    font-size: 1.5rem;
    color: #8d8d8d !important; 
    margin-bottom: 40px;
}

.credit-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 100%;
    max-width: 900px;
    color: #000000;
}

.credit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(102, 102, 102, 0.492);
}
@media (max-width: 992px) {
    .beneficio-card {
        max-width: 45%; /* 2 por fila */
    }

    .credits-title {
        font-size: 2.2rem;
    }

    .credits-p {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .beneficios {
        flex-direction: column;
        align-items: center;
    }

    .beneficio-card {
        max-width: 90%; /* 1 por fila */
    }

    .credits-title {
        font-size: 2rem;
    }

    .credits-p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .beneficio-card {
        padding: 30px 20px;
    }

    .beneficio-card h3 {
        font-size: 1.2rem;
    }

    .beneficio-card p {
        font-size: 0.95rem;
    }

    .icono {
        width: 65px;
    }
}



/***************** Imagen ****************/
.credit-card-image img{
    width: 200px;
    width: 100%;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.credit-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.credit-card-content h3 {
    font-size: 1.2rem;
    font-weight: 750;
    margin: 0;
}

.description {
    font-size: 1.0rem;
    color: #000000;
    
}

.details {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.0rem;
    font-weight: 500;
}

.detail-item .label {
    color: #000000;
    font-weight: 750;
}

.detail-item .value {
    color: #000000;
}

.btn-primary {
    padding: 12px 0;
    background-color: #2300e8;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #1911a8;
    color: #fff;
}

.credits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 24px; /* espacio entre tarjetas */
    padding: 20px;
}
@media (max-width: 992px) {
    .credits-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .credits-grid {
        grid-template-columns: 1fr;
    }

    .credit-card-content h3 {
        font-size: 1.1rem;
    }

    .description {
        font-size: 0.95rem;
    }

    .detail-item {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .credit-card-content {
        padding: 16px;
    }

    .btn-primary {
        font-size: 0.95rem;
        padding: 10px;
    }
}

/****************** Estadísticas ******************/
.stats-section {
    background-color: #f5f5f5;
    padding: 80px 70px;
}

.container-number {
    max-width: 1200px;
    margin: 0 auto;
}

.stat-number {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #2563eb;
}

.stat-number::before {
  content: "+";
  position: absolute;
  left: -18px;
  top: 0;
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color, #007bff);
}

.stats-section h5 {
    font-size: 1.1rem;
    color: #333;
}

/* Sección CTA */
.endhero {
  background:  #2563eb;
  color: #ffffff;
  padding:80px 20px; 
  text-align: center;
  margin: 90px 0 20px 0;
  margin-bottom: 0px;
}

.endhero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 750;
}

/* Contenedor de botones */
.endhero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Botón principal */
.btn-primary-endhero {
  background-color: #e6d200;
  color: #0431c8;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
  font-weight: 600;
}

.btn-primary-endhero:hover {
  background-color: #fff157;
}

/* Botón secundario */
.btn-secondary-endhero {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
  font-weight: 600;
}

.btn-secondary-endhero:hover {
  background-color: #ffffff;
  color: #0431c8;
}



/******************** Footer ********************/
footer {
  background-color: #0f1828;
  color: #ffffff;
  padding: 40px 0 30px 0;
  margin: 0!important;
  text-align: center;
}






/* Responsive */
@media (max-width: 768px) {
  .nav-menu {
    gap: 1rem;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container {
  max-width: 900px;
  margin: auto;
}

/* ------------------ Solicitar ------------------ */
.section-box {
  background: #2563eb;
  color: #fff;
  padding: 12px 18px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
  margin-top: -10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.07);
}

/* ------------------ SIMULADOR ------------------ */
.simulator-box {
  margin-top: 250px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #2563eb;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(224, 46, 46, 0.07);
}

.simulator-header {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
}

.simulator-result {
  padding: 20px;
  text-align: center;
}

.simulator-result .title {
  font-size: 16px;
  margin-bottom: 8px;
  color: #222;
  font-weight: bold;
}

.cuota {
  font-size: 36px;
  font-weight: bold;
  color: #e1ff00;
}

.simulator-detail {
  font-size: 14px;
  margin-top: 10px;
  color: #000000;
  font-weight: 700;
}

.simulator-note {
  padding: 15px;
  background: #ffff9bf4;
  border-top: 1px solid #d0d7e6;
  font-size: 14px;
}


/* ------------------ BOTÓN ------------------ */
.btn-primary {
  background-color: #2563eb !important;
  border-color: #0055aa !important;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #2563eb !important;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 768px) {
  .cuota {
    font-size: 28px;
  }
}
